body {
  display: flex;
  flex-direction: column;
}

.navBg {
  background-color: #7952b3;
  height: 10vh;
}

.link {
  margin-left: 5%;
  text-decoration: none;
  color: bisque;
  font-size: x-large;
  width: 20vw;
  padding: 0vw 1vw;
}

.navDrop{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding: 0vw 1vw;
  width: 20vw;
  margin-left: 5%;
}

.dropDown{
  font-size: medium;
  padding: 0vw 1vw;
  width: 20vw;
  margin-left: 5%;
  color: black;
}

#game {
  /* padding-top: 5vh; */
  color: #fff;
  height: 70vh;
}
